#encabezado {
    background:  rgb(175, 124, 46);
    height: 10vh;
}
#encabezado ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}
#encabezado ul li {
    background:  rgb(78, 57, 18);
    color: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
}
#encabezado ul li:hover {
    color: rgb(230, 124, 3);
    border-radius: 40%;
    transform: scale(1.2);
}